<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><Burger King></title>
</head>
<body>
<nav style="font-size: 100%; text-align: left">
    <a href="/about_me/">Game!소개!</a>
</nav>

<nav style="font-size: 200%; text-align: center">
    <br>
    <br>
    <h1>안녕하세요. Burger King입니다!</h1>
    <h2> 첫 화면</h2>
    <img src="\images\버거킹.jpg" height="600px">
</nav>
<nav style="font-size: 200%; text-align: center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="index.html" style="color:red">Play game</a>
    <br>
</nav>


</body>
</html>